services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    volumes: 
      - wp_db:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always
  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    volumes: 
      - wp_files:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: always
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "8080:443"
    volumes: 
      - wp_files:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: always

volumes:
  wp_files:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/selbouka/data/wordpress
  wp_db:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/selbouka/data/mariadb
networks:
  inception:
    driver: bridge
